/* --banner-- */
.aboutus-sec{
    height: 100vh;
    /* background-color: blanchedalmond; */
    position: relative;
    z-index: 2;
    background-image: url("../img/pages/about-img1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.about-bnr-text span{
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
    color: var(--color-black);
    display: inline-block;
    margin-bottom: 36px;
}
.about-bnr-text h1{
    font-family: "Orborn";
    font-size: 100px;
    font-weight: 400;
    line-height: 0.9;
}
.aboutus-sec .row{
    height: 100%;
    align-items: center;
}


.text-md{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.text-sm{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
} 

.goalbg{
    width: 100%;
    min-height: 682px;
    height: 100%;
    background-image: url("../img/pages/our-goal-img.png");
}
.our-goal-sec .fs-md{
    margin-bottom: 35px;
    color: #000000;
}
.our-goal-sec .text-md{
    margin-bottom: 72px;
    color: #000000;
    opacity: 0.7;
}
.our-goal-sec .text-sm{
    color: #000000;
    opacity: 0.7;
}
.our-goal-sec h4{
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #4C4C4C;
}
.our-goal-sec h4::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: #9c9c9c;
    display: inline-block;
    margin-left: 32px;
    top: 10px;
}
.our-goal-sec-content{
    background-color: #ffffff;
    margin-top: -160px;
    padding: 75px 90px;
}

.our-vision-sec{
    position: relative;
    padding-top: 115px;
    height: auto;
    z-index: 9;
    margin-top: 50px;
}
.our-vision-sec::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    min-height: 720px;
    background-color: #202020;
    z-index: -1;
}
.our-vision-sec .container{
    padding-left: 102px;
}

.our-vision-sec h2{
    margin-top: 16px;
    margin-bottom: 30px;
}
.our-vision-sec p{
    opacity: 0.7;
}

.our-vision-lt > div{
    position: relative;
    height: auto;
}

.our-vision-lt > div img{
    position: absolute;
    bottom: -10%;
}
.our-vision-sec-row-two {
    margin-top: -295px;
} 
.our-vision-sec-row-two .our-vision-sec-img-box{
    position: relative;
    width: auto;
}
.our-vision-sec-row-two .our-vision-sec-img-box::after{
    content: '';
    display: block;
    height: 254px;
    width: 1px;
    background-color: #4C4C4C;
    position: absolute;
    left: 417px;
    z-index: 99;
    top: -36px;
}

/* --creative-sec-- */
.creative-sec{
    margin-top: 100px;
    margin-bottom: 30px;
}
.creative-sec .count {
    text-align: center;
}
.creative-sec .count h3{
    font-weight: 400;
    font-size: 72px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
.creative-sec .count span{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
/* --creative-sec-- */



/* --our leaders-- */
.our-leaders{
    margin-top: 100px;
    margin-bottom: 30px;
}
.leader-box{
    max-width: 315px;
    margin-bottom: 30px;
    /* margin: 0 auto; */
}
.leader-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #202020;
    margin: 32px 0 16px;
}
.leader-box span{
    font-weight: normal;
    font-size: 15px;
    line-height: 190%;
    color: #515151;
}

@media (min-width: 1365.98px) and (max-width: 1520px){
    .aboutus-sec, .our-vision-sec .container, .our-goal-sec .container{
        max-width: 1200px;
    }
}


@media (max-width:1365.98px){
    .about-bnr-text h1{
        font-size: 70px;
    }
    .our-goal-sec .fs-md{
        font-size: 60px;
    }
    .our-goal-sec .text-md, .our-vision-sec p{
        font-size: 16px;
    }
    .heading-content p{
        font-size: 16px;
    }
    .creative-sec .count h3{
        font-size: 36px;
    }
}

@media (max-width:991px){
    .aboutus-sec{
        text-align: center;
        margin: 120px auto 30px;
    }
    .our-vision-sec-row-two .our-vision-sec-img-box::after{
        display: none;
    }
    .our-vision-sec-row-two{
        margin-top: -80px;
    }
    .our-vision-sec h2{
        font-size: 48px;
    }
    .count div{
        margin-bottom: 20px;
    }
    .creative-sec, .our-leaders{
        margin-top: 70px;
        margin-bottom: 20px;
    }
}

@media (max-width:768px){
    .our-vision-sec{
        padding-top: 30px;
    }
    .our-vision-sec .container{
        padding-left: 15px;
    }
    .our-vision-sec h2{
        margin-top: 0;
    }
    .our-vision-sec-row-two{
        display: none;
    }


}

@media (max-width:680px){
    .about-bnr-text h1{
        font-size: 48px;
    }
    .our-goal-sec .fs-md{
        font-size: 32px;
    }
    .our-goal-sec-content{
        padding: 50px 40px;
    }
    .our-goal-sec .text-md, .our-vision-sec p{
        font-size: 14px;
    }
}