
@media (min-width: 1600px){
    .banner .banner-content h1{
        font-size: 170px;
    }
    .heading-content h2, .have-an-idea .have-and-idea-content div h3{
        font-size: 75px;
    }
    .vtab-content .card-body .content p, .vtab-content .card-body .content ul li{
        font-size: 19px;
        line-height: 30px;
    }
    .tab-label ul li h4, .tab-label ul li span.count, .vtabs .nav-link.active ul li h4, footer .social-ul li ul li a{
        font-size: 32px;
    }
    .vtabs .nav-link{
        margin-bottom: 80px;
    }
    .vtab-content .card-body .content ul li{
        margin-bottom: 30px;
    }
    
    .heading-content span, .work-slider-text p, .counter-info, .total-count ,
    .work-slider-text span, .view-detail a, footer .quick-links a span, footer .social-ul li p, footer .office-address a span{
        font-size: 18px;
    }
    .work-slider-text h3{
        font-size: 60px;
    }

    .award-section-left div .award-mask {
        top: -80px;
        left: 0;
        max-width: 100%;
    }
    .blog-sec .grid-blog{
        padding-left: 130px;
    }
    .have-an-idea .have-and-idea-content{
        max-width: 1200px;
    }
    .footer-inner{
        margin-left: 0;
    }
    .footer-links{
        max-width: 690px;
    }
    footer .office-address a, 
    footer .quick-links li:not(:last-child) a{
        margin-bottom: 20px;
    }
    footer .office-address h5{
        font-size: 24px;
    }
    footer h2{
        font-size: 50px;
    }

    /* About Us */
    .about-bnr-text h1{
        font-size: 115px;
    }



}

@media (min-width: 1700px) and (max-width:1920px){
    .testi-content{
        max-width: 970px;
    }
    .have-an-idea .have-and-idea-content{
        max-width: 1300px;
    }
} 

@media (min-width: 1366px) and (max-width:1500px){
    .have-an-idea .have-and-idea-content{
        margin-left: 50px;
    }
}


/* @media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
} */

@media only screen and (min-width:1367px) and (max-width: 1440px) {
    .banner .hero-banner-imgs .img-rt{
        bottom: 0;
        right: 0;
    }
    .view-detail{
        bottom: 0;
    }
    .blog-sec{
        padding-left: 90px;
    }
}



@media (min-width: 1200px){
    .slider2{
        margin-left: 185px;
    }
    .work-progress-status{
        margin-left: 185px;
    }
    .testi-content{
        max-width: 900px;
    }
    .testi-content .card-body p{
        width: 90%;
    }

}

  


@media (max-width: 1500px){
    .top-header{
        padding: 30px 115px;
    }
    .project-carousel div.image{
        margin-top: 0;
    }
}



@media (min-width: 1200px) and (max-width:1366px) {

    .banner .banner-content h1{
        font-size: 120px;
    }
    .banner .hero-banner-imgs img{
        max-width: 40%;
    }
    .heading-content{
        margin: 100px 0 60px;
    }
    .heading-content h2{
        font-size: 50px;
        margin-bottom: 10px;
    }
    .have-an-idea .have-and-idea-content::before{
        top:-140px;
    }
    .have-an-idea .have-and-idea-content::after{
        top: -110px;
    }
    .footer-inner{
        margin-left: 120px;
    }
}


@media (max-width: 1199.98px) {

    .project-carousel div.image{
        display: block;
    }
    .project-carousel div.image img{
        margin: 0 auto;
    }
    .project-carousel div.image img:first-child{
        display: none;
    }
    .clients-sec, .blog-sec, .tesimonial-sec, .award-section , .offerings-sec , .work-sec, .have-an-idea{
        height: auto;
    }
    .blog-sec .container, .blog-sec .container .grid-blog{
        height: auto;
    }
    .have-an-idea .have-and-idea-content h3{
        font-size: 42px;
    }
    .have-an-idea .have-and-idea-content{
        padding: 100px 0 0 30px;
        z-index: 9;
    }
    .have-an-idea .have-and-idea-content::after{
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0.1;
    }
    .have-an-idea .have-and-idea-content::before{
        display: none;
    }
  }



  @media (max-width: 1024px) { 
    .sidebar-fixed{
        display: none;
    }
    .top-header{
        z-index: 999999;
        padding: 10px 30px;
    }
    #mainNav.navbar-shrink{
        background-color: #191e25;
        z-index: 999999;
        padding: 10px 30px;
    }
    #mainNav.navbar-shrink .toggle-menu span{
        background-color: #ffffff;
    }
    .top-header .toggle-menu{
        display: block;
    }
    .header .an-idea{
        display: none;
    }
    .menu-drawer{
        width: 100%;
        overflow-y: auto;
    }

    .sidepanel-contact ul li ul{
        display: block;
    }
    .sidepanel-contact ul li ul li:not(:first-child){
        margin-left: 0;
    }
    .sliderBottom p{
        font-size: 18px;
    }
    .vtab-content .card-body .content p{
        text-align: justify;
    }
    .testi-content .card-body{
        max-height: 100% ;
    }
    .testi-img-card{
        display: none;
    }
    .testi-box{
        display: block !important;
    }

    .blog-heading{
        position: initial;
        margin-top: 110px;
    }
    .blog-card{
        padding-top: 0;
    }


    .have-an-idea{
        margin-top: 30px;
    }
    .have-an-idea .have-an-idea-column{
        padding-bottom: 20px;
    }
    footer{
        overflow: hidden;
        height: auto;
        margin-top: 10px;
    }
    .footer-inner{
        margin: 100px 30px;
    }
    footer::after{
        opacity: 0.2;
    }


}

@media (max-width:1023.98px){
    .sidebar-in-logo{
        display: none;
    }
}



@media only screen and (min-width:991px) and (max-width: 1024px) {
    .menu-drawer .container .cap-ul{
        padding-left: 20px;
        margin-top: 200px;
    }
    .menu-drawer .container .sm-ul{
        padding-left: 20px;
    }
    .sidepanel-contact ul{
        padding-left: 0;
    }

    .hero-banner{
        position: relative;
    }
    .banner{
        position: initial;
    }
    .banner .banner-content h1{
        font-size: 100px;
    }
    .banner .hero-banner-imgs img{
        max-width: 46%;
    }
    .banner .hero-banner-imgs .img-lt{
        left: 0;
    }
    .banner .hero-banner-imgs .img-rt{
        right: 0;
    }

    .work-sec-lt{
        display: initial;
    }
    .work-sec .row-1 .heading-content{
        position: initial;
    }
    .work-slider-text{
        margin-top: 0;
    }

    .view-detail{
        position: initial;
        padding-left: 0;
    }

    .award-section-right .award-box{
        width: 190px;
    }
    .award-box h5{
        font-size: 18px;
    }

}

  @media only screen and (min-width:768px) and (max-width: 991.98px) {
    .menu-drawer .container .cap-ul{
        padding-left: 0;
        margin-top: 200px;
    }
    .menu-drawer .container .sm-ul{
        padding-left: 0;
    }
    .sidepanel-contact ul{
        padding-left: 0;
    }       
    .hero-banner{
        position: relative;
    }
    .banner{
        position: initial;
    }
    .banner .banner-content h1{
        font-size: 92px;
    }
    .banner .banner-content span.sm-caption{
        font-size: 18px;
    }
    .banner .hero-banner-imgs .img-lt{
        left: 0;
        top: 54%;
        max-width: 40%;
    }
    .banner .hero-banner-imgs .img-rt{
        right: 0;
        top: 56%;
        max-width: 40%;
    }

    .heading-content h2{
        font-size: 48px;
    }


    .vtabs .nav-link.active ul li h4,
    .tab-label ul li span.count{
        font-size: 22px;
    }

 }


 @media (max-width: 768px) { 

    .work-sec .row-1 .heading-content{
        position: initial;
    }
    .work-slider-text{
        margin-top: 0;
    }
    .project-carousel div.image img:first-child{
        display: none;
    }
    .project-carousel-bottom .sliderBtns{
        position: initial;
        justify-content: center;
    }
    .project-carousel-bottom .sliderBtns button i{
        color: #000000;
    }
    .project-carousel-bottom .sliderBtns button:hover{
        border-color: #000000;
    }
    .testi-box{
        display: block !important;
    }

    .testi-content .card-body{
        padding: 40px;
        max-height: auto;
    }
    .testi-content .card-body p{
        width: 100%;
    }
    .progress-counter2{
        display: none;
    }
    
    .testi-nav{
        margin-top: 0;
    }


    .award-section-left div{
        margin-top: 0;
    }
    .award-section-left div .award-mask {
        position: absolute;
        left: 0;
        max-width: 100%;
    }

    .blog-heading{
        position: initial;
        margin-top: 110px;
    }
    .blog-card{
        padding-top: 30px;
    }
    .blog-card p{
        margin: 10px 0;
    }
    .blog-card .card-body{
        padding-top: 16px;
        padding-bottom: 0;
    }


}

@media only screen and (min-width:576px) and (max-width: 767.98px) { 
    .menu-drawer .container .cap-ul{
        padding-left: 0;
        margin-top: 450px;
    }
    .menu-drawer .container .sm-ul{
        padding-left: 0;
    }
    .sidepanel-contact ul{
        padding-left: 0;
    }
    .banner .banner-content h1{
        font-size: 60px;
    }
 }



 
 @media (max-width: 767.98px){ 
     
    .menu-drawer .container .cap-ul{
        padding-left: 26px;
        margin-top: 450px;
    }
    .menu-drawer .container .sm-ul,
    .sidepanel-contact ul    {
        padding-left: 26px;
    }
    .scroll-down{
        right: 30px;
    }
    .vtab-content .accordion-header{
        display: block;
    }
    .vtab-content  .tab-pane{
        display:block;
        opacity: 1;      
     } 
     .vtabs{
         display: none;
     }
     .heading-content{
         margin-bottom: 50px;
     }

     .have-an-idea .btn-pair{
         display: block;
     }
     .footer-inner{
        margin-left: 26px;
    }
    .footer-links{
        flex-direction: column;
        padding-right: 0;
    }
    footer .quick-links{
        padding-top: 20px;
    }
    footer .social-ul li ul{
        margin: 30px 0;
    }

 }





@media only screen and (min-width:320px) and (max-width:575.98px){
    .top-header{
        padding: 30px 25px;
    }
    .banner .banner-content h1{
        font-size: 60px;
    }
    .banner .hero-banner-imgs .img-lt{
        top: 12%;
        left: 10%;
        max-width: 70%;
    }
    .banner .hero-banner-imgs .img-rt{
        bottom: 0;
        max-width: 100%;
    }
    .heading-content h2{
        font-size: 42px;
    }
    .heading-content span{
        font-size: 14px;
    }

    .work-sec .row-1 .heading-content{
        position: initial;
    }
    .work-slider-text{
        margin-top: 0;
    }
    .progress-counter,.progress-counter2 ul{
        display: none;
    }
    .project-carousel div.image{
        display: block;
    }
    .project-carousel div.image img{
        margin: 0 auto;
    }

    .view-detail{
        position: initial;
        padding-left: 0;
        margin-bottom: 16px;
    }

    .clients-slider{
        margin: 0;
    }


    .testi-box{
        display: block !important;
    }
    .testi-img-card{
        left: auto;
        margin: 0 auto;
    }
    .testi-content .card-body{
        max-height: 100%;
        padding: 20px 16px;
    }
    .testi-content .card-body p{
        width: 100%;
    }
    .testi-nav{
        margin-top: 0;
    }


    .award-section-left div{
        margin-top: 0;
    }

    .blog-heading{
        position: initial;
        margin-top: 110px;
    }
    .blog-card{
        padding-top: 30px;
    }
    .blog-card p{
        margin: 10px 0;
    }
    .blog-card .card-body{
        padding-top: 16px;
        padding-bottom: 0;
    }

    .frame-two {
        left: 0;
        z-index: -1;
    }
    .award-section-left div .award-mask{
        max-width: 30%;
    }
    .have-an-idea .have-and-idea-content{
        padding: 100px 16px;
    }

}















